::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 1rem rgba(83, 89, 95, 0.3) !important;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0 1rem rgba(83, 89, 95, 0.4) !important;
}

.true {
    color: green;
}

.false {
    color: red;
}

div.extraExt_renderers {
    padding-top: 5px;
    position: relative;
}

div.extraExt_renderers >
span.extraExt_renderers_open {
    transition-property: all;
    transition-duration: .5s;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    top: -10px;
    cursor: pointer;
}

div.extraExt_renderers_window {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

div.extraExt_renderers_window_body .extraExt_renderers_window_body {
    max-height: 50vh;
    padding: 3px;
    box-shadow: 0px 0px 2px 0px #8e8e8e;
    overflow: auto;
}

div.extraExt_renderers_window[data-wrap="true"] .extraExt_renderers_window_body {
    white-space: pre-wrap;
}

label[for] {
    cursor: pointer;
}

input[type=checkbox], input[type=radio] {
    cursor: pointer;
}

div.extraExt_renderers >
span.extraExt_renderers_open:hover {
}

span.extraExt_renderers_open .extraExt_popup path {
    fill: gray;
}

span.extraExt_renderers_open:hover .extraExt_popup path, span.extraExt_renderers_open[data-active=true] .extraExt_popup path {
    fill: black;
}

div.extraExt_renderers >
span.extraExt_renderers_open.active {

}
